.grid{
    display: flex;
    align-items: center;
    border: 1px solid var(--color);
    border-radius: 8px;
    overflow: hidden;
}
.grid_button{
    display: flex;
    gap: 5px;
    background: var(--color);
    color: #696974;
    padding:0 5px;
}

.listImage{
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 5px; */
    cursor: pointer;
}