/* Styles for the sidebar child element */
.sidebar_child {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    padding-left: 20px;
    background: #4D5875;
    margin: 5px 0;
    border-radius: 6px;
    overflow: hidden; /* Enable horizontal scrolling for overflowing content */
    white-space: nowrap; /* Prevent text wrapping */
    opacity: 0.8;
}

.sidebar_child:hover{
    opacity: 1;
    cursor: pointer;
}

/* Hide the scrollbar for WebKit browsers */
.sidebar_child::-webkit-scrollbar {
    display: none;
}

/* Styles for the folder child element within the sidebar */
.folder_child {
    display: flex;
    align-items: center;
    gap: 12px;
}

/* Styles for the movie name within the sidebar child element */
.movie_name {
    text-overflow:ellipsis; /*Display ellipsis for overflowing text*/
    overflow: hidden; 
    white-space: nowrap;
}

