.modal_div {
  display: flex;
  width: 400px;
  padding: 24px;
  flex-direction: column;
  border-radius: 12px;
  background: var(--White, #fff);

  /* Shadow/xl */
  box-shadow: 0px 8px 8px -4px rgba(16, 24, 40, 0.03),
    0px 20px 24px -4px rgba(16, 24, 40, 0.08);
}

.caution_icon {
  display: flex;
  width: 48px;
  height: 48px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 8px solid var(--error-50, #fef3f2);
  background: var(--error-100, #fee4e2);
  margin-bottom: 20px;
}
.caution_title {
  color: var(--gray-900, #101828);
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px; /* 155.556% */
}
.caution_des {
  color: var(--gray-500, #667085);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  margin-top: 2px;
  margin-bottom: 32px;
}

.caution_name {
  color: var(--gray-500, #667085);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
}

.modal_btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 12px;
}

.caution_btn {
  padding: 10px 18px;
  border-radius: 8px;
  width: 50%;
  cursor: pointer;
}

.cancel_btn {
  border: 1px solid var(--Grey-Stroke, #dedede);
  background: var(--White, #fff);
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  color: var(--gray-700, #344054);
  font-size: 16px;
}

.yes_btn {
  border: 1px solid #fc5a5a;
  background: #fc5a5a;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  color: white;
  font-size: 16px;
}
