.list_container{
    width: 100%;
   display: flex;
   flex-direction: column;
   gap: 10px;
   flex-wrap: wrap;
   justify-content: space-between;

}

.list_items{
    display: flex;
    justify-content: space-between;
    gap: 15px;
    background: transparent;
    color: white;
    padding: 10px 0;
    border-bottom: 2px solid white;
    font-size: 18px;
}