/* Common styles for all screen sizes */
.dash_container {
    padding: 20px;
    background: white;
    color: black;
    width: 73%;
    border-radius: 10px;
}

.container {
    display: flex;
    justify-content: center;
}

.dash_image {
    width: 100%;
}

.dash_heading {
    width: 60%;
    margin: 0;
    line-height: 2.3rem;
}

/* Media query for screens with a maximum width of 768px (adjust as needed for mobile devices) */
@media only screen and (max-width: 768px) {
    .dash_container {
        width: 100%; /* Full width on smaller screens */
    }

    .dash_heading {
        width: 100%; /* Full width on smaller screens */
    }
}

/* Media query for screens with a maximum width of 1024px  */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .dash_container {
        width: 90%; /* Adjust the width for tablets */
    }

    .dash_heading {
        width: 100%; /* Full width on tablets */
    }
}

/* Media query for screens with a minimum width of 1200px to 1920 width */
@media only screen and (min-width: 1025px) and (max-width: 1920px) {
    .dash_container {
        width: 70%; /* Adjust the width for larger screens */
    }
}
