.rightBar{
    display: flex;
    padding: 20px;
    padding-top: 0;
    flex: 5;
    flex-direction: column;
    overflow-y: scroll;
   /* position: relative; */
}

.rightBar::-webkit-scrollbar{
    display: none;
}